@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

/* Light mode */
body {
  background-color: #ffffff;
  color: #111111;

  background-image: radial-gradient(
    rgba(0, 0, 0, 0.08) 1px,
    transparent 1px
  );
  background-size: 24px 24px;
}

/* Dark mode */
.dark body {
  background-color: #000000;
  color: #ffffff;

  background-image: radial-gradient(
    rgba(255, 255, 255, 0.08) 1px,
    transparent 1px
  );
}